<!-- Created with <3 by #{author.name} [#{author.site}] -->
title #{siteName}
meta(charset="UTF-8")
meta(name="description", content=`${siteDesc}`)
meta(property="og:url", content=`${siteUrl}`)
meta(property="og:type", content="website")
meta(property="og:title", content=`${siteName}`)
meta(property="og:description", content=`${siteDesc}`)
meta(property="og:image", content="/images/header.jpg")
meta(name="twitter:card", content="summary_large_image")
meta(property="twitter:domain", content="losarmanos.com")
meta(property="twitter:url", content=`${siteUrl}`)
meta(name="twitter:title", content=`${siteName}`)
meta(name="twitter:description", content=`${siteDesc}`)
meta(name="twitter:image", content="/images/header.jpg")
link(rel="stylesheet", href="/styles.css")
link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
link(rel="manifest", href="/site.webmanifest")
meta(name="msapplication-TileColor", content="#fafafa")
meta(name="theme-color", content="#2F2D2E")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer")
